<div class="card title">
  <h2>RECETTES</h2>
  <p>L'ensemble de vos recettes, créer, modifer et gérer les disponbilités</p>
</div>
<p-toast></p-toast>
<div class="card" [formGroup]="form">
  <p-dataView #dv [value]="recipes" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField"
    [sortOrder]="sortOrder" layout="grid" (onChange)="onSortChange($event)">
    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
          <i class="pi pi-search"></i>
          <input pInputText type="search" placeholder="Rechercher une recette par nom" filterBy="name"
            (input)="dv.filter($any($event.target).value, 'contains')" />
        </span>
        <!-- <ng-template let-recipe pTemplate="gridItem">
          {{ recipe.id }}
        </ng-template> -->
        <!-- <p-selectButton [options]="disponibility" formControlName="isAvailable" optionLabel="label" optionValue="value"> -->
        <!-- </p-selectButton> -->
        <button pButton pRipple class="p-button-outlined" (click)="CreateNewRecipe()" icon="pi pi-plus"
          label="Ajouter nouvelle recette" type="button"></button>
        <!-- <button type="button" (click)="CreateNewRecipe()" pButton icon="pi pi-info-circle" label="Ajouter"
          [style]="{ width: '50vw' }"></button> -->
        <ng-template pTemplate="footer">
          <button pButton (click)="displayModal = false" label="Confirmer" class="p-button-text"></button>
          <p-button (click)="displayModal = false" label="Annuler"></p-button>
        </ng-template>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="gridItem">
      <div class="p-col-12 p-md-4">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <img src="assets/images/blocks/blog/blog-4.jpg" alt="Image" class="border-round-left"
              style="max-height: 234px;" />
          </div>
          <div class="product-grid-item-content">
            <div class="product-name">{{ product.name }}</div>
            <div>
              <span [class]="
                  'product-badge status-' +
                  product.inventoryStatus.toLowerCase()
                ">{{ product.inventoryStatus }}
              </span>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{ product.code }}</span>
            </div>
            <div class="font-medium text-900 mb-3 line-height-3">
              <span class="product-price">{{ product.price_base }} €</span>
            </div>
            <div class="product-description">{{ product.description }}</div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>

<!-- <div class="card">
  <p-dataView #dv [value]="recipe" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField"
    [sortOrder]="sortOrder" layout="grid">
    <ng-template pTemplate="header">
      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
          <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
            <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price"
              (onChange)="onChangeValue($event)" styleClass="p-mb-2 p-mb-md-0" class="p-mr-2"></p-dropdown>
            <span class="p-ml-2 p-input-icon-left p-mb-2 p-mb-md-0 ">
              <i class="pi pi-search"></i>
              <input type="search" pInputText placeholder="Search by Name"
                (input)="dv.filter($any($event.target).value, 'contains')">
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="right">
          <button pButton pRipple label="Nouvel utilisateur" icon="pi pi-plus" class="p-button-success p-mr-2"
            (click)="openNew()"></button>
        </ng-template>
      </p-toolbar>
    </ng-template>
    <ng-template let-product pTemplate="gridItem">
      <div class="p-col-12 p-md-4">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <div>
              <i class="pi pi-star-fill" [style]="{'color': '#E6E600'}" [ngModel]="product.star"></i>
            </div>
          </div>
          <div class="product-grid-item-content">
            <div class="product-name">{{product.name}}</div>
            <div class="product-description">{{product.description}}</div>
            <div class="product-ingredients">{{product.ingredients}}</div>
            <div class="product-grid-item-top">
              <div class="product-price">${{product.price}}</div>
              <div class="product-category">{{product.category}}</div>
            </div>
          </div>
          <div class="product-grid-item-bottom justify-content-end">
            <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-text p-button-plain"
              pTooltip="Ajouter des images" tooltipPosition="bottom"></button>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-button-text"
              pTooltip="Modifier la recette" tooltipPosition="bottom"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"
              pTooltip="Supprimer la recette" tooltipPosition="bottom"></button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView> -->
