<p-toast></p-toast>
<!-- Title -->
<app-title [title]="'Franchisée'" [description]="'Espace franchisés'">
</app-title>
<!--franchisee -->
<div class="card">
  <div class="p-2 shadow-4 text-center md:w-20 mb-2" style="background: rgba(255, 255, 255, 0.441); border-radius: 5px">
    <p-toolbar styleClass="p-mb-4 bg-yellow-50 mb-3">
      <ng-template pTemplate="left">
        <div class="p-d-flex p-ai-center p-jc-between">
          <span class="p-input-icon-left">
            <i class="pi pi-search" aria-hidden="true"></i>
            <input pInputText class="w-20rem" type="search"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Rechercher..." />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="right">
        <button pButton pRipple label="Nouveau franchisé" icon="pi pi-plus"
          class="p-button-raised p-button-success p-button-text p-mr-3" (click)="createNewFranchisee()"></button>
      </ng-template>
    </p-toolbar>
    <p-table #dt [value]="franchisees" [rows]="10" [paginator]="true" [globalFilterFields]="['name', 'email']" [resizableColumns]="true" [rowHover]="true" dataKey="id"
      currentPageReportTemplate="Affichage de {first} à {last} des {totalRecords} franchisés"
      [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50, 100]" [(first)]="first" sortField="name">
      <ng-template pTemplate="header">
        <tr>
          <th class="w-5rem " scope="col"></th>
          <th class="w-13rem" pSortableColumn="name" scope="col"> Nom de franchisé <p-sortIcon field="name"></p-sortIcon></th>
          <th class="w-15rem" pSortableColumn="phone" scope="col"> Numéro de téléphone <p-sortIcon field="phone"></p-sortIcon></th>
          <th class="w-18rem" pSortableColumn="email" scope="col"> Email <p-sortIcon field="email"></p-sortIcon></th>
          <th class="w-21rem" pSortableColumn="franchisee.address" scope="col"> Adresse <p-sortIcon field="franchisee.address"></p-sortIcon></th>
          <th class="w-7rem " scope="col"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-franchisee let-expanded="expanded">
        <tr>
          <td>
            <button pButton pRipple type="button" [pRowToggler]="franchisee" 
              class="p-button-rounded p-button-text p-button-plain" 
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <td>{{ franchisee.name }}</td>
          <td>{{ franchisee.phone }}</td>
          <td>{{ franchisee.email }}</td>
          <td>
            {{ franchisee.address.first_line }}, <ng-template *ngIf="franchisee.address.second_line!=null">
              {{ franchisee.address.second_line }},
            </ng-template>
            {{ franchisee.address.zip_code }}, {{ franchisee.address.city }}, {{ franchisee.address.country }}
          </td>
          <td id="icons">
            <button pButton pRipple type="button" icon="pi pi-pencil"
              class="p-button-rounded p-button-text p-button-success min-w-0 mr-2"
              (click)="update(franchisee)"></button>
            <button pButton pRipple type="button" icon="pi pi-trash"
              class="p-button-rounded p-button-text p-button-danger min-w-0" (click)="delete(franchisee)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-product>
        <tr>
          <td colspan="7">
            <div class="p-p-3">
              <p-table [value]="product.orders" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="id">Id <p-sortIcon field="price"></p-sortIcon></th>
                                <th pSortableColumn="customer">Customer <p-sortIcon field="customer"></p-sortIcon></th>
                                <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
                                <th pSortableColumn="amount">Amount <p-sortIcon field="amount"></p-sortIcon></th>
                                <th pSortableColumn="stats">Status <p-sortIcon field="status"></p-sortIcon></th>
                                <th style="width: 4rem"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-order>
                            <tr>
                                <td>{{order.id}}</td>
                                <td>{{order.customer}}</td>
                                <td>{{order.id}}</td>
                                <td>{{order.amount | currency:'USD'}}</td>
                                <td><span [class]="'order-badge order-' + order.status.toLowerCase()">{{order.status}}</span></td>
                                <td><p-button type="button" icon="pi pi-search"></p-button></td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="6">There are no order for this product yet.</td>
                            </tr>
                        </ng-template>
                    </p-table>
            </div>
          </td>
        </tr>
      </ng-template>






      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between text-left text-sm text-blue-800 font-normal font-italic"> En total
          il y a {{ franchisees ? franchisees.length : 0 }} franchisees. </div>
      </ng-template>
    </p-table>
  </div>
</div>
<!-- Confirmation Dialog -->
<p-confirmDialog #cd>
  <p-footer>
    <button pButton pRipple type="button" label="NON" class="p-button-danger p-button-text p-button-text-outlined"
      (click)="cd.reject()"></button>
    <button pButton pRipple type="button" label="OUI" class="p-button-info p-button-text p-button-text-outlined"
      (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
<!-- /Confirmation Dialog -->
