<p-toast></p-toast>
<!-- Title -->
<div
  class="card-header shadow mt-4 bg-yellow-50 border-yellow-50"
  style="border-radius: 6px"
>
  <div class="col">
    <h4>Franchisée</h4>
    <h6>L'espace de franchisé pour gérer ensemble de l'info.</h6>
  </div>
</div>
<!-- Content -->
<div class="grid">
  <div class="col-12 lg:col-6">
    <div class="p-3 h-full">
      <div
        class="shadow-2 p-3 h-full flex flex-column surface-card"
        style="border-radius: 4px"
      >
        <div
          class="card-header flex align-items-center justify-content-between bg-yellow-50"
        >
          <span class="text-800 font-bold text-xl mb-1">Chez Tom's</span>
          <span class="ml-2 font-medium text-600"
            ><i class="pi pi-pencil text-blue-500 text-xl"></i
          ></span>
        </div>
        <ul class="list-none p-0 m-0 flex-grow-1 mt-5">
          <li class="flex align-items-center mb-3">
            <i class="pi pi-phone text-green-500 mr-2"></i>
            <span class="text-900">04 76 88 99 00</span>
          </li>
          <li class="flex align-items-center mb-3">
            <i class="pi pi-envelope text-purple-500 mr-2"></i>
            <span class="text-900">example@ex.fr</span>
          </li>
          <li class="flex align-items-center mb-3">
            <i class="pi pi-map-marker text-yellow-500 mr-2"></i>
            <span class="text-900">38000, Grenoble, centre ville</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-6">
    <div class="p-3 h-full">
      <div
        class="shadow-2 p-3 flex flex-column surface-card"
        style="border-radius: 6px"
      >
        <div
          class="card-header flex align-items-center justify-content-between bg-yellow-50"
        >
          <span class="text-800 font-bold text-xl mb-1">Horaires</span>
          <span class="ml-2 font-medium text-600"
            ><i class="pi pi-pencil text-blue-500 text-xl"></i
          ></span>
        </div>
        <div class="flex align-items-center justify-content-end mt-5">
          <span class="font-bold text-800 align-items-center mr-8 ml-2"
            >Midi</span
          >
          <span class="font-bold text-800 align-items-center mr-5 ml-5"
            >Soir</span
          >
        </div>
        <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
        <ul class="list-none p-0 m-0 flex-grow-1">
          <li class="flex align-items-center mb-1">
            <div>
              <div class="flex align-items-center flex-wrap">
                <span class="text-600 align-items-center mr-8">Lundi</span>
                <span
                  class="font-mediumtext-800 align-items-center mr-8 ml-2 pl-8"
                  >10:00</span
                >
                <span class="font-mediumtext-800 align-items-center mr-5 ml-5"
                  >19:00</span
                >
              </div>
            </div>
          </li>
          <li class="flex align-items-center mb-1">
            <div>
              <div class="flex align-items-center flex-wrap">
                <span class="text-600 align-items-center mr-8">Mardi</span>
                <span
                  class="font-mediumtext-800 align-items-center mr-8 ml-2 pl-8"
                  >10:00</span
                >
                <span class="font-mediumtext-800 align-items-center mr-5 ml-5"
                  >19:00</span
                >
              </div>
            </div>
          </li>
          <li class="flex align-items-center mb-1">
            <div>
              <div class="flex align-items-center flex-wrap">
                <span class="text-600 align-items-center mr-8">Mercredi</span>
                <span
                  class="font-mediumtext-800 align-items-center mr-8 ml-2 pl-6"
                  >10:00</span
                >
                <span class="font-mediumtext-800 align-items-center mr-5 ml-5"
                  >19:00</span
                >
              </div>
            </div>
          </li>
          <li class="flex align-items-center mb-2">
            <div>
              <div class="flex align-items-center flex-wrap">
                <span class="text-600 align-items-center mr-8">Jeudi</span>
                <span
                  class="font-mediumtext-800 align-items-center mr-8 ml-2 pl-8"
                  >10:00</span
                >
                <span class="font-mediumtext-800 align-items-center mr-5 ml-5"
                  >19:00</span
                >
              </div>
            </div>
          </li>
          <li class="flex align-items-center mb-2">
            <div>
              <div class="flex align-items-center flex-wrap">
                <span class="text-600 align-items-center mr-8">Vendredi</span>
                <span
                  class="font-mediumtext-800 align-items-center mr-8 ml-2 pl-6"
                  >10:00</span
                >
                <span class="font-mediumtext-800 align-items-center mr-5 ml-5"
                  >19:00</span
                >
              </div>
            </div>
          </li>
          <li class="flex align-items-center mb-2">
            <div>
              <div class="flex align-items-center flex-wrap">
                <span class="text-600 align-items-center mr-8">Samedi</span>

                <span
                  class="font-mediumtext-800 align-items-center mr-8 ml-2 pl-7"
                  >10:00</span
                >
                <span class="font-mediumtext-800 align-items-center mr-5 ml-5"
                  >19:00</span
                >
              </div>
            </div>
          </li>
          <li class="flex align-items-center mb-2">
            <div>
              <div class="flex align-items-center flex-wrap">
                <div class="flex align-items-center justify-content-end">
                  <span class="text-600 align-items-center mr-8">Dimanche</span>
                  <span
                    class="font-mediumtext-800 align-items-center mr-8 ml-2 pl-6"
                    >10:00</span
                  >
                  <span class="font-mediumtext-800 align-items-center mr-5 ml-5"
                    >19:00</span
                  >
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="layout-content-wrapper">
  <div class="col-xl-4" style="border-radius: 6px">
    <div class="card shadow">
      <div class="card-header bg-yellow-50">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="mb-0">Recette à la carte</h4>
          </div>
        </div>
      </div>
      <div class="card-body"></div>
    </div>
  </div>
</div>
