<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="w-6 py-8 md:px-2 align-items-center justify-content-center w-30rem relative"
    style="transform: translate(750px,-50px);">
        <div class="p-6 shadow-4 text-center md:w-20 mb-2 ">
            <span class="p-float-label">
                <input class="appearance-none border-none py-2 pl-3 w-full outline-none text-100 block mb-4 bg-white-alpha-40"
                    style="border-radius: 8px;width: 50%;" id="float-input" type="text" PInputText formControlName="username">
                <label for="float-input" class="text-white-alpha-60">Nom d'Utilisateur</label>
            </span>
            <span class="p-float-label">
                <input class="appearance-none border-none py-2 pl-3 w-full outline-none text-100 block mb-4 bg-white-alpha-40"
                    style="border-radius: 8px;" id="float-password" formControlName="password">
                <label for="float-password" class="text-white-alpha-60">Mot de passe</label>
            </span>
            <div class="flex align-items-center justify-content-between mb-6">
                <div class="flex align-items-center">
                    <p-checkbox id="rememberme" [binary]="true" styleClass="mr-2"></p-checkbox>
                    <label for="rememberme" style="color: #d9e5fc !important;">Souviens-toi de moi!</label>
                </div>
                <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer"
                >Mot de passe oublié?</a>
            </div>
            <button pButton pRipple label="Se connecter" class="border-none w-full outline-none" 
                style="border-radius: 8px; background:#ccbe1c;"></button>
        </div>
    </div>
</form>