<p-sidebar [(visible)]="display" [baseZIndex]="10000" styleClass="p-sidebar-sm" *ngIf="user$ | async as user">
  <ul class="nav flex-column">
    <li>
      <button pButton pRipple type="button" label="Utilisateurs" class="p-button-info p-button-text" icon="pi pi-users"
        routerLink="/home/users"></button>
    </li>
    <li>
      <button pButton pRipple type="button" label="Franchisés" class="p-button-info p-button-text"
        icon="pi pi-briefcase" routerLink="/home/franchisee"></button>
    </li>
    <li>
      <button pButton pRipple type="button" label="Réclamations clients" class="p-button-info p-button-text"
        icon="pi pi-comments" routerLink="/home/client-complaint"></button>
    </li>
    <li>
      <button pButton pRipple type="button" label="Notifications" class="p-button-info p-button-text" icon="pi pi-bell"
        routerLink="/home/notifications"></button>
    </li>
    <li>
      <button pButton pRipple type="button" label="Recettes" class="p-button-info p-button-text" icon="pi pi-list"
        routerLink="/home/recipes"></button>
    </li>
    <li>
      <button pButton pRipple type="button" label="Commandes" class="p-button-info p-button-text"
        icon="pi pi-shopping-cart" routerLink="/home/orders"></button>
    </li>
    <li>
      <button pButton pRipple type="button" label="Compte" class="p-button-info p-button-text" icon="pi pi-user"
        *ngIf="user.autorisations?.isAdmin || user.autorisations?.isFranchisee" [routerLink]="['/account']"
        routerLinkActive="active"></button>
    </li>
    <li>
      <button pButton pRipple type="button" label="Aide" class="p-button-success p-button-text"
        icon="pi pi-info-circle"></button>
    </li>
  </ul>
  <p-button type="button" styleClass="p-button-warning" (click)="logOut()" label="Se déconnecter" icon="pi pi-sign-out">
  </p-button>
</p-sidebar>
<p-button type="button" styleClass="p-button-rounded p-button-success" (click)="display = true" icon="pi pi-plus">
</p-button>
