._title {
  // background: rgba(213, 234, 254, 0.676);
  background: linear-gradient(135deg, #dbe6fdd7 50%, #ffffffc7 90%) no-repeat center center fixed;
  border-radius: 4px !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
}
