::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(193, 213, 230);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(193, 213, 230);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(193, 213, 230);
}