<div class="min-h-screen flex flex-column relative flex-auto">
  <!-- *ngIf="_user" -->
  <div class="w-8 md:px-2 align-items-center justify-content-center
relative">
    <!-- style="transform: translate(150px, -640px);" -->
    <!-- <div class="surface-section"> -->
    <div class="p-6 shadow-4 text-center md:w-20 mb-2">
      <div class="col-12 md:col-4">
        <!-- <div class="card"> -->
        <p-avatar image="assets/img/brooke-lark-1.jpg" styleClass="p-mr-2" size="xlarge" shape="circle"></p-avatar>
        <!-- <p-avatar icon="pi pi-user" styleClass="p-mr-2" size="xlarge" shape="circle"></p-avatar> -->
      </div>
      <div class="mb-4">
        <ul class="list-none p-0 m-0">
          <li class="flex align-items-center py-3 px-2 flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Prénom</div>
            <div class="text-800 w-full md:w-8 md:flex-order-0 flex-order-1">
              {{firstname}}
            </div>
            <div class="w-6 md:w-2 flex justify-content-end">
            </div>
          </li>
          <li class="flex align-items-center py-3 px-2 flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Nom</div>
            <div class="text-800 w-full md:w-8 md:flex-order-0 flex-order-1">
              {{lastname}}
            </div>
            <div class="w-6 md:w-2 flex justify-content-end">
            </div>
          </li>
          <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Numéro de téléphone</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
              {{phone}}
            </div>
            <div class="w-6 md:w-2 flex justify-content-end">
            </div>
          </li>
          <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Email</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
              {{email}}
            </div>
            <div class="w-6 md:w-2 flex justify-content-end">
            </div>
          </li>
          <li>
            <button pButton pRipple label="Modifier" icon="pi pi-pencil" class="p-button-text"
              routerLink="['/profile/edit']"></button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



<!-- code hidden for display purpose -->
<!-- <div class="container">
  <div class="row">
    <table class="table table-dark table-striped m-2">
      <thead>
        <tr>
          <th scope="col">Product Id</th>
          <th scope="col">Name</th>
          <th scope="col">Manufacturer</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of user$ | async">
          <td>
            <button class="btn btn-primary" (click)="openModal('')">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->


<!-- <div class="card">
  <h5>Row Editing</h5>
  <p-table [value]="user$" dataKey="id" editMode="row" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Prenom</th>
        <th>Nom</th>
        <th>email</th>
        <th>Mot de passe</th>
        <th>Adresse</th>
        <th>Code Postal</th>
        <th>Ville</th>
        <th style="width:8rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="user">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="user.firstName">
            </ng-template>
            <ng-template pTemplate="output">
              {{user.firstname}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="user.lastname" required>
            </ng-template>
            <ng-template pTemplate="output">
              {{user.lastname}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="number" [(ngModel)]="user.zip">
            </ng-template>
            <ng-template pTemplate="output">
              {{user.zip}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="user.city">
            </ng-template>
            <ng-template pTemplate="output">
              {{user.city}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td style="text-align:center">
          <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
            (click)="onRowEditInit(user)" class="p-button-rounded p-button-text"></button>
          <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
            (click)="onRowEditSave(user)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
          <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
            (click)="onRowEditCancel(user, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div> -->
