<p-toast position="top-center" [baseZIndex]="5000"></p-toast>
<ng-container [formGroup]="form">
  <div class="p-grid p-fluid">
    <div class="p-col-12 p-md-4">
      <div class="formgrid grid">
        <div class="field col">
          <label>Nom de plat</label>
          <input type="text" pInputText formControlName="title" />
        </div>
        <div class="field col">
          <label for="recipeFor">Type de recette</label>
          <!-- <div class="col-sm-9"> -->
          <p-dropdown [options]="recipesType" optionLabel="code" formControlName="recipeType" [autoDisplayFirst]="false"
            id="recipeFor" appendTo="body" [style]="{'width':'100%'}">
          </p-dropdown>
          <!-- <small id="recipeTypeFor-help" class="p-invalid" *ngIf="checkError('recipeType', 'required')">Champ
            obligatoire..</small> -->
        </div>
        <div class="field col">
          <label for="price">Prix</label>
          <p-inputNumber id="price" mode="currency" currency="EUR" formControlName="price">
          </p-inputNumber>
        </div>
      </div>
    </div>
    <div class="p-col-12 p-md-4">
      <div class="formgrid grid">
        <div class="field col">
          <label for="ingreFor">Ingredients</label>
          <p-dropdown [options]="ingredients" optionLabel="name" formControlName="ingredientsDetails"
            [autoDisplayFirst]="false" id="ingreFor" appendTo="body" [style]="{'width':'100%'}">
          </p-dropdown>
          <!-- <small id="ingreFor-help" class="p-invalid" *ngIf="checkError('ingredientsDetails', 'required')">Champ
            obligatoire..</small> -->
        </div>
        <!-- <div class="field col">
          <label for="ingreTypeFor">Type d'ingredients</label>
          <p-dropdown [options]="ingredientsType" optionLabel="code" formControlName="types" [autoDisplayFirst]="false"
            id="ingreTypeFor" appendTo="body" [style]="{'width':'100%'}">
          </p-dropdown>
          <!-- <small id="ingreTypeFor-help" class="p-invalid" *ngIf="checkError('types', 'required')">Champ
            obligatoire..</small> -->
        <!-- </div>  -->
        <div class="p-field p-col-12 p-md-4">
          <label for="template">Date disponiblité</label>
          <p-calendar formControlName="availableDate" inputId="template" [locale]="calendar_fr">
            <ng-template pTemplate="date" let-date>
              <span [ngStyle]="{backgroundColor: (date.day < 21 && date.day > 10) ? '#81C784' : 'inherit'}"
                style="border-radius:50%; padding: .25em; width: 2em; height: 2em; display:block"
                dateFormat="dd/mm/yyyy" pattern="dd/mm/yyyys">{{date.day}}</span>
            </ng-template>
          </p-calendar>
        </div>
        <div class="p-col-12 p-md-4">
          <p-checkbox class="col-12 mt-4" formControlName="star" (onChange)="onClickStar($event)" label="Plat star"
            value="star" [binary]="true"></p-checkbox>
        </div>
      </div>
    </div>
    <div class="p-col-12 p-md-4">
      <label>Description</label>
      <textarea formControlName="description" rows="5" cols="30" pInputTextarea [autoResize]="true"></textarea>
    </div>

    <div class="p-col-12 p-md-4">
      <div class="pt-3 flex ng-star-inserted">
        <button pButton type="button" (click)="onSubmit()" label="Confirmer"
          class="p-element p-ripple w-6 ml-2 p-button p-component" style="margin-left: 0.25rem"></button>
        <button pButton type="button" (click)="onClose()" label="Annuler"
          class="p-element p-ripple p-button-outlined w-6 mr-2 p-button p-component"
          style="margin-right: 0.25rem"></button>
      </div>
    </div>
  </div>
</ng-container>


<!-- <button pButton type="button" (click)="onSubmit()" label="Confirmer"
          class="p-element p-ripple w-6 ml-2 p-button p-component" style="margin-left: 0.25rem"
          [disabled]="!form.valid"></button> -->
