<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-5 p-8  text-center md:text-left flex align-items-center ">
        <section>
            <span class="flex text-8xl font-bold mb-1 pl-7" style="color:  #f18f79;">Bientôt</span>
            <div class="text-3xl font-bold mb-3 pl-8" style="color: #232d61;">Ici nous trouvons les informations statiques de franchisés, utilisateurs, ...</div>
        </section>
    </div>
    <div class="col-12 md:col-7 overflow-hidden">
        <img src="assets/img/GOODFOOD.png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>
