<div class="col-12 mt-8">
  <div class="surface-card p-4 shadow-2 border-round">
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-3 p-3">
        <div class="p-3 text-center bg-blue-200" style="border-radius: 12px">
          <div class="my-4 flex align-items-center justify-content-center">
            <img src="assets/img/users.png" alt="" width="70px" height="70px" />
          </div>
          <div class="text-3xl font-medium text-blue-900 mb-2">100</div>
          <span class="text-blue-700 font-medium">Utilisateurs</span>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3 p-3">
        <div class="p-3 text-center bg-teal-200" style="border-radius: 12px">
          <div class="my-4 flex align-items-center justify-content-center">
            <img src="assets/img/franchisee.png" alt="" width="70px" height="70px" />
          </div>
          <div class="text-3xl font-medium mb-2 ext-teal-900">1000</div>
          <span class="text-teal-700 font-medium">Franchisés</span>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3 p-3">
        <div class="p-3 text-center bg-cyan-200" style="border-radius: 12px">
          <div class="my-4 flex align-items-center justify-content-center">
            <img src="assets/img/recipe.png" alt="" width="70px" height="70px" style="border-radius: 5px" />
          </div>
          <div class="text-3xl font-medium text-cyan-900 mb-2">200</div>
          <span class="text-cyan-700 font-medium">Recettes</span>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3 p-3">
        <div class="p-3 text-center bg-yellow-200" style="border-radius: 12px">
          <div class="my-4 flex align-items-center justify-content-center">
            <img src="assets/img/ingredient.png" alt="" width="70px" height="70px" style="border-radius: 5px" />
          </div>
          <div class="text-3xl font-medium text-yellow-900 mb-2">510</div>
          <span class="text-yellow-700 font-medium">Ingrédients</span>
        </div>
      </div>
    </div>
  </div>
</div>
