@import "../../../../scss/core/colors";

.hadear-shadow {
  -webkit-box-shadow: -1px 10px 30px -13px rgba(0, 0, 0, 0.81);
  box-shadow: -1px 10px 30px -13px rgba(0, 0, 0, 0.81);
}

.hadear-shadow-blue {
  -webkit-box-shadow: -1px 10px 30px -13px rgba(99, 165, 219, 0.81);
  box-shadow: -1px 10px 30px -13px rgba(17, 82, 102, 0.81);
}

.hadear-shadow-red {
  -webkit-box-shadow: -1px 10px 30px -13px rgba(168, 20, 20, 0.726);
  box-shadow: -1px 10px 30px -13px rgba(177, 46, 14, 0.81);
}

.hadear-shadow-green {
  -webkit-box-shadow: -1px 10px 30px -13px rgba(108, 201, 66, 0.726);
  box-shadow: -1px 10px 30px -13px rgba(13, 110, 29, 0.979);
}

.hadear-shadow-yellow {
  -webkit-box-shadow: -1px 10px 30px -13px rgba(233, 222, 64, 0.726);
  box-shadow: -1px 10px 30px -13px rgba(201, 183, 27, 0.979);
}

::ng-deep .p-tooltip > .p-tooltip-text {
  margin-top: 12px !important;
  background: $brown !important;
  color: #ffffff !important;
  font-size: small !important;
  z-index: 100 !important;
}

.green-border {
  border-bottom: solid green !important;
}

.black-border {
  border-bottom: solid !important;
}

.icon-cyan {
  color: $red !important;
}

.version-font {
  font-size: 60% !important;
}
