<nav class="navbar fixed-top bg-light">
  <div class="container-fluid">

    <div class="navbar-brand">
      <!-- <img src="assets/images/logo.png" width="200" height="54" alt="GOODFOOD"> -->
      <!-- <img class="ms-2" src="assets/images/logo-ag2r.svg" alt="GOOD FOOD"> -->
      <div class="d-inline">
        <span class="ms-3 fw-bolder text-uppercase">GOOD FOOD</span>
      </div>

    </div>
      <!-- personne authentifier -->
      <ng-container *ngIf="!hideAuthenticatedPersonne">
        <span class="navbar-text">
          <span>
            <!-- <span class="fw-bolder">{{ user.lastname }} {{ user.firstname }}</span> / -->
          </span>
        </span>
        <div class="d-flex">
          <span class="me-3" *ngIf="hideHomeBtn">
            <button pButton pRipple type="button" icon="pi pi-home" [routerLink]="'/'"
              class="p-button-rounded p-button-info p-button-outlined" pTooltip="Accueil" tooltipPosition="bottom"
              tooltipStyleClass="customTooltip"></button>
          </span>
          <span class="me-3" *ngIf="user">
            <button pButton pRipple type="button" icon="pi pi-users"
              class="p-button-rounded p-button-danger p-button-outlined" pTooltip="Sélectionner un utilisateur"
              tooltipPosition="bottom" tooltipStyleClass="customTooltip" (click)="OpenSidebar()"></button>
          </span>
        </div>
      </ng-container>
      <!-- personne authentifier -->
  </div>
</nav>
