<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
  <div class="w-6 py-8 md:px-2 align-items-center justify-content-center w-30rem relative"
  style="transform: translate(750px,-50px);">
      <div class="p-6 shadow-4 text-center md:w-20 mb-2 ">
          <span class="p-float-label">
              <input class="appearance-none border-none py-2 pl-3 w-full outline-none text-100 block mb-4 bg-white-alpha-40"
                  style="border-radius: 8px;" id="float-email" formControlName="email-password">
              <label for="float-email" class="text-white-alpha-60">Adresse mail</label>
          </span>
          <button pButton pRipple label="Envoyer" class="border-none w-full outline-none"></button>
      </div>
  </div>
</form>