<div class="card">
  <p-dataView #dv [value]="products" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField"
    [sortOrder]="sortOrder" layout="grid">
    <ng-template pTemplate="header">
      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
          <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
            <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price"
              (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0" class="p-mr-2"></p-dropdown>
            <span class="p-ml-2 p-input-icon-left p-mb-2 p-mb-md-0 ">
              <i class="pi pi-search"></i>
              <input type="search" pInputText placeholder="Search by Name"
                (input)="dv.filter($any($event.target).value)">
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="right">
          <button pButton pRipple label="Nouvel utilisateur" icon="pi pi-plus" class="p-button-success p-mr-2"
            (click)="openNew()"></button>
        </ng-template>
      </p-toolbar>
    </ng-template>

    <ng-template let-product pTemplate="gridItem">
      <div class="p-col-12 p-md-4">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <div>
              <i class="pi pi-star-fill" [style]="{'color': '#E6E600'}" [ngModel]="product.star"></i>
            </div>

          </div>
          <div class="product-grid-item-content">
            <div class="product-name">{{product.name}}</div>
            <div class="product-description">{{product.description}}</div>
            <div class="product-ingredients">{{product.ingredients}}</div>
            <div class="product-grid-item-top">
              <div class="product-price">${{product.price}}</div>
              <div class="product-category">{{product.category}}</div>
            </div>

          </div>
          <div class="product-grid-item-bottom justify-content-end">

            <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-text p-button-plain"
              pTooltip="Ajouter des images" tooltipPosition="bottom"></button>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-button-text"
              pTooltip="Modifier la recette" tooltipPosition="bottom"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"
              pTooltip="Supprimer la recette" tooltipPosition="bottom"></button>
          </div>

        </div>
      </div>
    </ng-template>
  </p-dataView>

  <p-dialog [(visible)]="recipeDialog" [style]="{ width: '650px' }" header="User Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="p-field">
        <label for="firstname">Nom de plat</label>
        <input type="text" pInputText id="firstname" [(ngModel)]="recipe.name" required autofocus />
        <small class="p-invalid" *ngIf="submitted && !recipe.name">*</small>
      </div>
      <div class="p-field">
        <label for="code">Description</label>
        <input type="text" pInputText id="code" [(ngModel)]="recipe.description" required autofocus />
        <small class="p-invalid" *ngIf="submitted && !recipe.description">*</small>
      </div>
      <div class="p-field">
        <label for="email">Categorie</label>
        <input type="text" pInputText id="email" [(ngModel)]="recipe.category" required autofocus />
        <small class="p-invalid" *ngIf="submitted && !recipe.category">*</small>
      </div>
      <div class="p-field">
        <label for="phone">Prix de base</label>
        <input type="text" pInputText id="phone" [(ngModel)]="recipe.price" required autofocus />
        <small class="p-invalid" *ngIf="submitted && !recipe.price">*</small>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text p-button-danger"
        (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text p-button-success"
        (click)="saveUser()"></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
