<p-toast></p-toast>
<!-- Title -->
<app-title [title]="'Recettes'" [description]="
    'L\'ensemble de vos recettes, création, modification et suppression.'
  ">
</app-title>
<!-- app-recipes -->
<div class="card">
  <p-toolbar styleClass="p-mb-4 bg-yellow-50 mb-3">
    <ng-template pTemplate="left">
      <div class="p-d-flex p-ai-center p-jc-between">
        <span class="p-input-icon-left">
          <i class="pi pi-search" aria-hidden="true"></i>
          <input pInputText class="w-20rem" type="search" filterBy="['name', 'price']"
            (input)="dv.filter($any($event.target).value, 'contains')" placeholder="Rechercher..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="right">
      <button pButton pRipple label="Nouvelle recette" icon="pi pi-plus"
        class="p-button-raised p-button-success p-button-text p-mr-3" (click)="CreateNewRecipe()"></button>
    </ng-template>
  </p-toolbar>
  <p-dataView #dv [value]="recipes" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField"
    [sortOrder]="sortOrder" layout="grid" (onChange)="onSortChange($event)">
    <ng-template let-recipe pTemplate="gridItem">
      <div class="p-col-12 p-md-4 flex">
        <div class="product-grid-item card">
          <div class="flex flex-1">
            <div class="col-4 align-item-center">
              <img *ngIf="recipe.pictures[0]" src="{{ recipe.pictures[0].external_link }}" alt="Image"
                class="border-round-left" />
              <img *ngIf="!recipe.pictures[0]" src="assets/img/no-photo.png" alt="Image" class="border-round-left" />
            </div>
            <p-divider layout="vertical" class="col-1 mr-1"></p-divider>
            <div class="col-7 w-full">
              <div class="flex justify-content-between flex-wrap my-1">
                <i *ngIf="recipe.star" class="pi pi-star-fill flex align-items-center justify-content-center"
                  [style]="{ color: '#E6E600' }" aria-hidden="true"></i>
                <i *ngIf="!recipe.star" class="pi pi-star flex align-items-center justify-content-center"
                  [style]="{ color: '#d6d6d6' }" aria-hidden="true"></i>
                <i class="pi pi-exclamation-circle flex align-items-center justify-content-center mr-1"
                  *ngIf="recipe.trashed_at" style="color: red" aria-hidden="true"
                  pTooltip="Cette recette bientôt disparaître!" tooltipPosition="top"></i>
              </div>
              <div class="product-name">{{ recipe.name }}</div>
              <div class="product-price">€ {{ recipe.base_price }}</div>
              <div class="product-category mb-2">
                <i class="pi pi-tag product-category-icon" style="font-size: 0.7rem; color: rgba(71, 71, 242, 0.828)"
                  aria-hidden="true"></i>
                {{ recipe.recipe_type.code }}
              </div>
              <div class="inline-block">
                <span *ngFor="let value of recipe.ingredients; let last = last">
                  <span *ngIf="!last"> {{ value.name + ", " }} </span>
                  <span *ngIf="last"> {{ value.name }} </span>
                </span>
              </div>
              <div class="flex justify-content-end flex-wrap mt-3">
                <button pButton pRipple type="button" (click)="updateRecipe(recipe)" id="buttonBottom"
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success p-button-text min-w-0 flex align-items-center justify-content-center"
                  pTooltip="Modifier la recette" tooltipPosition="bottom" [disabled]="recipe.trashed_at"></button>
                <button pButton pRipple type="button" (click)="deleteRecipe(recipe)" id="buttonBottom"
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger p-button-text min-w-0 flex align-items-center justify-content-center"
                  pTooltip="Supprimer la recette" tooltipPosition="bottom" [disabled]="recipe.trashed_at"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
<!-- /app-recipes -->
<!-- Confirmation Dialog -->
<p-confirmDialog #cd>
  <p-footer>
    <button pButton pRipple type="button" label="NON" class="p-button-danger p-button-text p-button-text-outlined"
      (click)="cd.reject()"></button>
    <button pButton pRipple type="button" label="OUI" class="p-button-info p-button-text p-button-text-outlined"
      (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
<!-- /Confirmation Dialog -->
